
@{
    ViewBag.Title = "DepositView";
}

<h2>DepositView</h2>
<h2>Enter Your Account ID : </h2><input type="text" name="id" placeholder="Enter The id here..." /><br />
<input type="submit" value=" Check If Exist" />
<h2>Enter The amount you want to Deposit </h2> <input type="text" name="amount" placeholder="Type The amount.." />




