
@{
    ViewBag.Title = "WithdrawView";
}

<h2>WithdrawView</h2>
<h2>Enter Your Account ID : </h2><input type="text" name="id" placeholder="Enter The id here..." /><br />
<input type="submit" value=" Check If Exist" />
<h2>Enter The amount you want to withdraw </h2> <input type="text" name="amount" placeholder="Type The amount.." />
   

