@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <h1>Arab Bank System</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome To arab bank System</h2>
        <p>
           Via This System You can Open Your account in our bank and deal with us , u will be happy if you open an account in our bank .
        </p>
        
    </div>
    <div class="col-md-4">
        @*<h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        @*<h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>